@{ 
    ViewBag.Title = "Lista użytkowników";
}
<h2>@ViewBag.Title</h2>
<p>Z poziomu tego widoku możesz zarządzać użytkownikami w systemie. Użytkownicy przebywający na urlopie
    oznaczeni są kolorem szarym. Nieaktywni &ndash; oznaczeni są poprzez przekreślenie, wyszarzenie oraz
    znajdują się zawsze na końcu listy.</p>

<table class="table va-middle-table">
    <thead>
        <tr>
            <th>#</th>
            <th>Użytkownik</th>
            <th>E-mail</th>
            <th>Telefon</th>
            <th>Pozycja</th>
            <th>Operacje</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="checkbox" /></td>
            <td>Jan Kowalski</td>
            <td>jan.kowalski@example.com</td>
            <td>773 112 322</td>
            <td>Pracownik</td>
            <td>
                <input type="button" class="btn btn-primary" value="Edytuj" />
                <div class="dropdown dropdown-ib">
                    <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown">
                        Operacje
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-white">
                        <li><a href="#">Deaktywuj</a></li>
                        <li><a href="#">Urlop</a></li>
                        <li><a href="#">Usuń</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr class="employee-ooo">
            <td><input type="checkbox" /></td>
            <td>Anna Elżbieta Nowak</td>
            <td>anowak@company.co.uk</td>
            <td>686 323 124</td>
            <td>Księgowość</td>
            <td>
                <input type="button" class="btn btn-primary" value="Edytuj" />
                <div class="dropdown dropdown-ib">
                    <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown">
                        Operacje
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-white">
                        <li><a href="#">Deaktywuj</a></li>
                        <li><a href="#">Urlop</a></li>
                        <li><a href="#">Usuń</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <td><input type="checkbox" /></td>
            <td>Karol Szary</td>
            <td>jan.kowalski@example.com</td>
            <td>889 344 333</td>
            <td>Administrator</td>
            <td>
                <input type="button" class="btn btn-primary" value="Edytuj" />
                <div class="dropdown dropdown-ib">
                    <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown">
                        Operacje
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-white">
                        <li><a href="#">Deaktywuj</a></li>
                        <li><a href="#">Urlop</a></li>
                        <li><a href="#">Usuń</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr class="employee-inactive">
            <td><input type="checkbox" /></td>
            <td>John Boo</td>
            <td>jobo@example.com</td>
            <td>667 333 266</td>
            <td>Human Resources</td>
            <td>
                <input type="button" class="btn btn-primary" value="Edytuj" />
                <div class="dropdown dropdown-ib">
                    <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown">
                        Operacje
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-white">
                        <li><a href="#">Deaktywuj</a></li>
                        <li><a href="#">Urlop</a></li>
                        <li><a href="#">Usuń</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<div>
    <div class="dropdown dropdown-ib">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            Operacja grupowa
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-white" style="width: 152px;">
            <li><a href="#">Deaktywuj</a></li>
            <li><a href="#">Urlop</a></li>
            <li><a href="#">Usuń</a></li>
        </ul>
    </div>
    <input type="button" class="btn btn-main" value="Dodaj użytkownika" />
</div>
