@{
    ViewBag.Title = "Nowy Projekt";
}

<h2>@ViewBag.Title</h2>
<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Nazwa projektu</label>
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Nazwa projektu">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Szef projektu</label>
        <div class="dropdown">
            <input type="text" class="form-control" data-toggle="dropdown" aria-haspopup="true" placeholder="Szef projektu" />
            <ul class="dropdown-menu dropdown-white" aria-labelledby="dropdownMenu1" style="width: 280px;">
                <li><a href="#">Jan Kowalski</a></li>
                <li><a href="#">Karol Szary</a></li>
            </ul>
        </div>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Data rozpoczęcia</label>
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Data rozpoczęcia">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Data zakończenia</label>
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Data zakończenia">
    </div>
    <div class="form-group">
        <label>Członkowie projektu</label><br />
        <input type="text" class="form-control" value="Jan Kowalski,Wojciech Nowak,Andrzej Wolski,Karol Szary" data-role="tagsinput" />
    </div>
    
    
    <button type="submit" class="btn btn-default">Dodaj</button>
    <button type="button" class="btn" style="width: 100px; font-weight:700;">Anuluj</button>
</form>