
@{
    ViewBag.Title = "Current";
}

<h2 style="color:#6f0c3b"><b>Timesheet</b></h2>
<div class="alert alert-info">
    W tej sekcji masz możliwość edycji swojego timesheetu. Możesz wybrać projekt do którego jesteś przypisany,
    a następnie pracować nad zdefiniowanymi wcześniej zadaniami lub dodać nowe.
</div>

<div class="alert alert-danger">
    <strong>Uwaga!</strong> Pamiętaj, by po skończeniu pracy zapisać jej rezultat, w przeciwnym wypadku zmiany zostaną utracone!
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">Projekt</div>
            <div class="panel-body">Projekt1</div>
        </div>
    </div>
    <div class="col-sm-8"></div>
</div>


