@{
    ViewBag.Title = "O aplikacji";
}
<h2 style="color:#6f0c3b"><b>O aplikacji</b></h2>
<br/>
<p style="text-align:justify; text-indent:1cm">
    Głównym celem aplikacji jest umożliwienie wypełniania i zarządzania arkuszami godzinowymi (ang. <i><b>timesheet</b></i>). 
    Pozwala ona na kontrolowanie zadań wykonywanych
    w obrębie projektów zarówno pracownikom, jak i ich przełożonym. Jest to aplikacja przeznaczona do wdrożenia przez firmy.
</p>
<hr />
<p style="text-align:justify;text-indent:1cm">
    Każdy z pracowników na początku tygodnia pracy otrzyma nowy, niewypełniony <i>timesheet</i> w obrębie każdego projektu, do którego jest przypisany.
    Pracownik może w nim określać dowolną liczbę zadań - dodawać je, usuwać, modyfikować oraz komentować. Po zakończeniu tygodnia (niedziela 24:00), <i>timesheet</i>, nad którym
    pracował pracownik, jest wyłączony z możliwości edytowania i przesłany do zatwierdzenia przez przełożonego w formie raportu tygodniowego. Przełożony może zaakceptować
    przesłane raporty lub je odrzucić - w takim wypadku użytkownik będzie miał możliwość naniesienia poprawek na <i>timesheet</i> w karcie <i>timesheety odrzucone</i>.
</p>
<hr />
<p style="text-align:justify;text-indent:1cm">
    Aplikacja zawiera również funkcjonalności dodatkowe. W odpowiedniej zakładce pracownik może edytować konto, zmienić hasło, czy przejrzeć projekty oraz swój wkład w nie. Osoby o dodatkowych uprawnieniach 
    mogą dodawać nowe projekty, edytować dane użytkownikom, czy zakładać im konta, akceptować, czy odrzucać raporty tygodniowe - 
    podawszy uzasadnieie w komentarzu do <i>timesheetu</i>, zarządzać pracownikami w firmie.
</p>
