@{
    ViewBag.Title = "Kontakt";
}

<h2 style="color:#6f0c3b"><b>Kontakt</b></h2>
<br />
<address>
    Monika: <a href="https://github.com/gradzka/">https://github.com/gradzka/</a> <br />
    Norbert: <a href="https://github.com/Norbitor/">https://github.com/Norbitor/</a> <br />
</address>