@{
    ViewBag.Title = "Kontakt";
}
<h2>Kontakt</h2>

<address>
    Monika: <a href="https://github.com/gradzka/">https://github.com/gradzka/</a> <br />
    Norbert: <a href="https://github.com/Norbitor/">https://github.com/Norbitor/</a> <br />
</address>