@{
    ViewBag.Title = "Home Page";
}

<div style="width:100%;  float:left; text-align:center">
    <img src="~/Pics/clocktimesheet.png" alt="" style="max-width:100%;">
</div>

<div class="row">
    <div class="col-md-4" style="text-align:center">
        <h2 style="color:#460525"><b> Kontroluj projekty </b></h2>
        <p>
            Utwórz projekty.<br>Zarządzaj projektami.<br>Podglądaj szczegóły projektów.
        </p>
    </div>
    <div class="col-md-4" style="text-align:center">
        <h2 style="color:#460525"><b> Zaplanuj zadania </b></h2>
        <p>Zdefiniuj dowolną liczbę zadań w obrębie projektu.<br> Dodaj liczbę godzin przeznaczonych na zadanie.<br>Komentuj zadania.<br>Składaj tygodniowe raporty.<br>Kontroluj swój czas.</p>
    </div>
    <div class="col-md-4" style="text-align:center">
        <h2 style="color:#460525"><b>Śledź postępy </b></h2>
        <p>Przeglądaj tygodniowe raporty.<br>Śledź statystyki.<br>Oszacuj koszty.</p>
    </div>
</div>