body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.btn-main {
     background-color: #3c0425;
     color: #fff;
}

.btn-main:hover {
    background-color: #18020f;
    color: #fff;
}

/* Administration panel rules */
.dropdown-ib {
    display: inline-block;
}

.dropdown-white {
    background-color: white;
    margin-top: 0;
}

.va-middle-table td {
    vertical-align: middle !important;
}

.employee-ooo {
    color: #bbb;
}

.project-closed {
    color: #bbb;
}

.employee-inactive {
    text-decoration: line-through;
    color: #bbb;
}

.report-proj-discriminant {
    text-align: center;
    font-weight: 700;
    background-color: #fafafa;
}

.report-proj-sum {
    font-weight: 700;
}
